<div class="table-main">
<div class="flex-group"> 
  <div style="min-width:100px;">Interest rate</div>
  <input [(ngModel)]="interestInput" type="number"/>
  <div class="input-explaination">(in %)</div>
  <button mat-button class="calculate-button" (click)="calculateInterest()">Calculate</button>
</div>
<div class="table-container"> 
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource && dataSource.length">

  <ng-container matColumnDef="repaymentDate">
    <th mat-header-cell *matHeaderCellDef> Repayment date</th>
    <td mat-cell *matCellDef="let element"> {{element.repaymentDate}} </td>
  </ng-container>

  <ng-container matColumnDef="principal">
    <th mat-header-cell *matHeaderCellDef> Principal </th>
    <td mat-cell *matCellDef="let element"> £{{element.principal}} </td>
  </ng-container>

  <ng-container matColumnDef="interest">
    <th mat-header-cell *matHeaderCellDef> Interest </th>
    <td mat-cell *matCellDef="let element"> £{{element.interest}} </td>
  </ng-container>

  <ng-container matColumnDef="totalRepayment">
    <th mat-header-cell *matHeaderCellDef> Total repayment </th>
    <td mat-cell *matCellDef="let element"> £{{element.totalRepayment}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<h4>{{calculatorType === 'RCF' ? 'Revolving Credit Facility':'Business loan'}}</h4>
<mat-error *ngIf="restrictionsError" class="error-msg">Your amount or duration are outside the allowed numbers for the {{calculatorType === 'RCF' ? 'Revolving Credit Facility':'Business loan'}} calculator</mat-error>
</div>

