th {
    min-width:fit-content;
    padding-left:8px!important;
    padding-right:8px!important;
  }

td {
    min-width:fit-content;
    padding-left:8px!important;
    padding-right:8px!important;

}

table {
    min-width:50%;
}

.table-container {
    max-height: 600px;
    overflow:auto;
}

.table-main {
    display:flex;
    flex-direction: column;
    align-items:center;
}


.error-msg {
    max-width:400px;
    text-align:center;
}