<h1 *ngIf="dataReady">Your loan</h1>
<div *ngIf="dataReady" style="display:flex;flex-direction:column;align-items:center">
  <div>
    <div class="flex-group">
      <div class="input-label">Amount requested</div>
      <input [(ngModel)]="amount" type="number"/>
      <div class="input-explaination">(in £)</div>
    </div>
    <div class="flex-group">
      <div class="input-label">Duration</div>
      <input [(ngModel)]="duration" type="number"/>
      <div class="input-explaination">(in months)</div>
    </div>
  </div>
  <div class="flex-group" style="align-items:start;flex-wrap:wrap;justify-content:space-around;width:70%">
      <div class="table-area">
        <app-interest-table
          [amount]="amount"
          [duration]="duration"
          [calculatorType]="'RCF'"
          [restrictions]="restrictions.RCF"
        ></app-interest-table>
      </div>
      <div class="table-area">
        <app-interest-table
          [amount]="amount"
          [duration]="duration"
          [calculatorType]="'BL'"
          [restrictions]="restrictions.BL"
        ></app-interest-table>
      </div>
    </div>
</div>
